:root{
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    background-color: var(--dark-cyan);
    font-family: 'Kumbh Sans', sans-serif;
}


 .flex{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh; //se adapta
 }
 .card{
     background-color: white;
     width: 326px;
     border-radius: 16px;
     overflow:hidden;
     box-shadow: 10px 10px 50px rgba(33, 115, 182, 0.205);
    
     &-header{
        width: 100%;
        display: block;
    }
    &-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid var(--dark-gray);
        
        &-img{
            border: 5px solid white;
            border-radius: 100%;
            margin-top: -63px;
            background-color: white;
        }
        &-title{
            margin-top: 2rem;
            font-size: 1.8rem;
            span{
                color: var(--dark-gray);
                font-weight: 400;
                //margin-left: 0.7rem;
            }
        }
        &-text{
            color: var(--dark-gray);
            font-size: 1.6rem;
            margin-bottom: 2rem;
            margin-top: 0px;

        }
    }
    &-footer{
        display: flex;

    }
}